{% extends 'base1.html' %}
{% block start %}
<body class="bg-light">

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Update Recipe</h4>
        </div>
        <div class="card shadow-lg p-5">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="recipeName" class="form-label">Recipe Name</label>
                    <input type="text" class="form-control" value="{{recipes.recipe_name}}" id="recipeName" name="recipe_name" placeholder="e.g. Paneer Butter Masala" required>
                </div>

                <div class="mb-3">
                    <label for="recipeDesc" class="form-label">Recipe Description</label>
                    <textarea class="form-control" id="recipeDesc"  name="recipe_description" rows="4" placeholder="Briefly describe the recipe..." required>{{recipes.recipe_description}}</textarea>
                </div>

                <div class="mb-3">
                    <label for="recipeImage" class="form-label">Recipe Image</label>
                    <input type="file" class="form-control" id="recipeImage" name="recipe_image" accept="image/*">
                </div>

                <button type="submit" class="btn btn-success w-100">Update Recipe</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}
